{% extends 'usuarios/base.html' %}
{% load static %}

{% block content %}
<div class="inicio_container mt-custom">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Perfil del usuario</h3>
                    <p>Nombre: {{ nombre }}</p>
                    <p>Apellido: {{ apellido }}</p>
                    <p>Email: {{ email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

